<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests for Qtrip Regression">
  <test name="Regression">
    <classes>
      <class name="qtriptest.tests.testCase_01" />
      <class name="qtriptest.tests.testCase_02" />
      <class name="qtriptest.tests.testCase_03" />
      <class name="qtriptest.tests.testCase_04" />
    </classes>
    <groups>
      <run>
        <include name="Login Flow" />
        <include name="Search and Filter flow" />
        <include name="Booking and Cancellation Flow" />
        <include name="Reliability Flow" />
      </run>
    </groups>
  </test>
</suite>
